@use "./variables.scss" as var;

.mainHeader {
    background-image: url("../Images/HeaderImg/headerBg3.webp");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.servicesHeader,
.projectsHeader,
.contactHeader {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}


// SERVICES HEADER
.servicesHeader {
    background-image: url("../Images/HeaderImg/servicesHeader1920x700.webp");  
}

// PROJECTS HEADER
.projectsHeader {
    background-image: url("../Images/HeaderImg/projectsHeader1920x700.webp");       
}

// CONTACT HEADER
.contactHeader {
    background-image: url("../Images/HeaderImg/contactHeader.webp");   
}

@media (max-width: 767.999px) {
.contactHeader {
    background-image: url("../Images/HeaderImg/contactHeaderMobileMd.webp");  
    background-position: center; 
    height: 70vh;
}
}
