@use "./variables.scss" as var;

// SERVICES HEADER
.servicesHeader {
    background-image: url("../Images/ServicesPageImg/servicesHeader1920x700.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    height: 75vh;
    
    
}

.webDevelopment {
    background-image: url("../Images/ServicesPageImg/webDevelopmentBgImg.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
}
