@use "./variables";

.heroHome {
    background: linear-gradient(135deg, #00F0FF, #333333);
    background-size: cover;
    color: white;
    
}

@keyframes rotateZoomOut {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(15deg) scale(0.5);
  }
}

.rotateZoomOutElement {
  animation: rotateZoomOut 1.5s ease-out forwards;
  animation-delay: 1s;  /* Ovdje postavi kašnjenje animacije */
}