@use "./variables";


.webDevelopment {
    background: linear-gradient(135deg, #e0f0f9, #4cc2d9)!important;
    position: sticky;
    top: 5rem;
}

.seoOptimization {
    background: linear-gradient(135deg, #cbf9e4, #4ec29d);
    position: sticky;
    top: 5rem;
}

.webDesign {
    background: linear-gradient(135deg, #dddbfd, #a172db);

    position: sticky;
    top: 5rem;
}