@use "./variables";


.webDevelopment {
    background-image: url("../Images/ServicesPageImg/webDevelopmentBg.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}